<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ABOUT ME</title>
        <link rel="stylesheet" href="/css/semantic.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="ui menu">
                <div class="header item">
                    <a href="/">Home</a>
                </div>
                <div class="header item">
                    <a class="item" style="width: max-content;">
                        <a href="/aboutme">About_Me</a>
                    </a>
                </div>
                <a class="item">
                    CENTRAL UNIVERSITY OF RAJASTHAN
                </a>
                <a class="item">
                    <img src="/img/CURAJ.png" alt="">
                </a>
            </div>

            <br><br><br><br><br>
            <table class="ui green table container" style="width:50%;">
                <tr>
                    <td>Name:</td>
                    <td>DHANRAJ CHOUDHARY</td>
                </tr>
                <tr>
                    <td>DEPARTMENT:</td>
                    <td>BTECH (CSE)</td>
                </tr>
                <tr>
                    <td>ENROLLMENT NO.:</td>
                    <td>2020BTCSE009</td>
                </tr>
            </table>
        </div>
        <script src="/js/semantic.min.js"></script>
    </body>

</html>